# 変数

In [1]:
import sys
sys.path.append('../settings')
from setting import *
print(MODE)
assert MODE != 'UPDATE_MODEL', '実行スクリプトが間違っているよ'

RENEWAL_RESULT

In [2]:
pd.options.display.max_columns = 100
plt.rcParams['figure.dpi'] = 100
plt.rcParams['font.family'] = 'Yu mincho'

In [16]:
# input
if MODE != 'RENEWAL_RESULT':
    FILE_RESULT_ALL = config['INTER_RESULT']
    FILE_INFO_ALL = config['INTER_INFO']
    
FILE_RACE_RESULT = list(glob.glob(config['SCRAPED_RESULT']))
display(FILE_RACE_RESULT)
FILE_RACE_INFO = list(glob.glob(config['SCRAPED_INFO']))
display(FILE_RACE_INFO)

['../../data/scraped\\race_result.csv',
 '../../data/scraped\\race_result2.csv',
 '../../data/scraped\\race_result3.csv',
 '../../data/scraped\\race_result4.csv']

['../../data/scraped\\race_info.csv',
 '../../data/scraped\\race_info2.csv',
 '../../data/scraped\\race_info3.csv',
 '../../data/scraped\\race_info4.csv']

In [4]:
#output
FILE_PARSED_RESULT = config["PARSED_RESULT"]
FILE_PARSED_INFO = config["PARSED_INFO"]
print(FILE_PARSED_RESULT)
print(FILE_PARSED_INFO)

if MODE in ['UPDATE_RESULT', 'RENEWAL_RESULT']:
    FILE_OBSTACLE_RESULT = config['OBSTACLE_RESULT']
    print(FILE_OBSTACLE_RESULT)
    FILE_OBSTACLE_INFO = config['OBSTACLE_INFO']
    print(FILE_OBSTACLE_INFO)

../../data/inter/race_result_inter.csv
../../data/inter/race_info_inter.csv
../../data/inter/race_obstacle_result.csv
../../data/inter/race_obstacle_info.csv

# 読み込み

In [10]:
df_list = [] 
for file in FILE_RACE_RESULT:
    print(file)
    df = pd.read_csv(file, index_col=0)
    print(df.shape)
    df_list.append(df)

df_result = pd.concat(df_list, ignore_index=True)
print(df_result.shape)
df_result.head(1)

../../data/scraped\race_result.csv
(35371, 22)
../../data/scraped\race_result2.csv
(183678, 22)
../../data/scraped\race_result3.csv
(102959, 22)
../../data/scraped\race_result4.csv
(81209, 22)
(403217, 22)

,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,ﾀｲﾑ指数,通過,上り,単勝,人気,馬体重,調教ﾀｲﾑ,厩舎ｺﾒﾝﾄ,備考,調教師,馬主,賞金(万円),race_id
0,1,3,3,マイネルギブソン,牡2,54.0,丹内祐次,1:52.1,NaN,**,1-1-1-1,34.7,6.0,5.0,432(+10),NaN,NaN,NaN,[東] 萱野浩二,サラブレッドクラブ・ラフィアン,1623.1,201001020110

In [11]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403217 entries, 0 to 403216
Data columns (total 22 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   着順       403217 non-null  object
 1   枠番       403217 non-null  int64
 2   馬番       403217 non-null  int64
 3   馬名       403217 non-null  object
 4   性齢       403217 non-null  object
 5   斤量       403217 non-null  float64
 6   騎手       403217 non-null  object
 7   タイム      399898 non-null  object
 8   着差       371712 non-null  object
 9   ﾀｲﾑ指数    390445 non-null  object
 10  通過       400535 non-null  object
 11  上り       399893 non-null  float64
 12  単勝       403213 non-null  object
 13  人気       401833 non-null  float64
 14  馬体重      403213 non-null  object
 15  調教ﾀｲﾑ    0 non-null       float64
 16  厩舎ｺﾒﾝﾄ   0 non-null       float64
 17  備考       0 non-null       float64
 18  調教師      403209 non-null  object
 19  馬主       403209 non-null  object
 20  賞金(万円)   140823 non-null  float64
 21  race_id  403217 non-null  int64
dtypes: float64(7), int64(3), object(12)
memory usage: 67.7+ MB

In [12]:
df_result.isnull().sum()

着順              0
枠番              0
馬番              0
馬名              0
性齢              0
斤量              0
騎手              0
タイム          3319
着差          31505
ﾀｲﾑ指数       12772
通過           2682
上り           3324
単勝              4
人気           1384
馬体重             4
調教ﾀｲﾑ      403217
厩舎ｺﾒﾝﾄ     403217
備考         403217
調教師             8
馬主              8
賞金(万円)     262394
race_id         0
dtype: int64

In [17]:
df_list = [] 
for file in FILE_RACE_INFO:
    print(file)
    df = pd.read_csv(file)
    print(df.shape)
    df_list.append(df)

df_info = pd.concat(df_list, ignore_index=True)
print(df_info.shape)
df_info.head(1)

../../data/scraped\race_info.csv
(2509, 10)
../../data/scraped\race_info2.csv
(12645, 10)
../../data/scraped\race_info3.csv
(7170, 10)
../../data/scraped\race_info4.csv
(5826, 10)
(28150, 10)

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether
0,201001020110,2010年9月11日,コスモス賞,2歳オープン,札幌,芝,右,1800,良,曇

In [18]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28150 entries, 0 to 28149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   race_id           28150 non-null  int64
 1   race_date         28150 non-null  object
 2   race_title        28150 non-null  object
 3   race_class        28150 non-null  object
 4   course_name       28150 non-null  object
 5   course_type       28150 non-null  object
 6   course_direction  28150 non-null  object
 7   course_distance   28150 non-null  object
 8   condition         28150 non-null  object
 9   whether           28150 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.1+ MB

In [19]:
assert df_info.isnull().sum().sum() == 0

# レース結果

In [20]:
df_result

,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,ﾀｲﾑ指数,通過,上り,単勝,人気,馬体重,調教ﾀｲﾑ,厩舎ｺﾒﾝﾄ,備考,調教師,馬主,賞金(万円),race_id
0,1,3,3,マイネルギブソン,牡2,54.0,丹内祐次,1:52.1,NaN,**,1-1-1-1,34.7,6.0,5.0,432(+10),NaN,NaN,NaN,[東] 萱野浩二,サラブレッドクラブ・ラフィアン,1623.1,201001020110
1,2,8,10,ロビンフット,牡2,55.0,勝浦正樹,1:52.2,1/2,**,4-3-3-2,34.5,2.7,1.0,488(-6),NaN,NaN,NaN,[東] 堀井雅広,桐谷茂,646.6,201001020110
2,3,4,4,ギリギリヒーロー,牡2,54.0,武幸四郎,1:52.3,1/2,**,10-8-9-5,34.0,5.7,4.0,416(-6),NaN,NaN,NaN,[西] 荒川義之,小林けい子,403.3,201001020110
3,4,8,11,マーベラスカイザー,牡2,54.0,古川吉洋,1:52.7,2.1/2,**,5-5-4-3,34.8,5.2,2.0,472(+2),NaN,NaN,NaN,[西] 柴田政見,笹原貞生,240.0,201001020110
4,5,2,2,エルヘイロー,牡2,54.0,小国博行,1:52.7,クビ,**,6-6-6-5,34.7,13.5,6.0,466(-4),NaN,NaN,NaN,[地] 堂山芳則,黒岩晴男,160.0,201001020110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403212,12,6,11,スリープレッピー,セ6,56.0,森裕太朗,2:45.7,1/2,**,11-11-12-12,37.3,120.3,15.0,458(+8),NaN,NaN,NaN,[西] 藤沢則雄,永井商事,NaN,201910021212
403213,13,1,1,バリオラージュ,牡5,54.0,斎藤新,2:46.0,1.3/4,**,3-3-4-5,38.2,7.5,4.0,460(+2),NaN,NaN,NaN,[西] 角居勝彦,社台レースホース,NaN,201910021212
403214,14,2,3,サンライズアミーゴ,牡4,54.0,亀田温心,2:46.2,1,**,11-11-15-16,37.6,99.2,12.0,478(+14),NaN,NaN,NaN,[西] 牧浦充徳,松岡隆雄,NaN,201910021212
403215,15,6,12,トロハ,牝3,52.0,武豊,2:46.2,クビ,**,6-5-4-9,38.4,17.5,8.0,468(+2),NaN,NaN,NaN,[西] 浜田多実,橋元勇氣,NaN,201910021212
403216,16,2,4,ダイシンステルラ,牝4,55.0,川須栄彦,2:47.0,5,**,6-5-9-14,38.9,110.3,14.0,450(+8),NaN,NaN,NaN,[西] 牧田和弥,大八木信行,NaN,201910021212

In [21]:
# 不要カラム削除
df_result.dropna(how='all', axis=1, inplace=True)
df_result.drop('ﾀｲﾑ指数', axis=1, inplace=True)

In [22]:
# 着順
df_result = df_result.loc[~df_result.着順.isin({'取', '中', '除', '失'})]
df_result.着順 = df_result.着順.str.replace('\(降\)', '').str.replace('\(再\)', '')
df_result.着順 = df_result.着順.astype(np.int)

In [23]:
# 性齢
df_result['gender'] = df_result['性齢'].str[0]
df_result['age'] = df_result['性齢'].str[1:].astype(np.int)

In [24]:
# タイム
# base_time = pd.to_datetime('00:00.0', format='%M:%S.%f')
# df_result.タイム = pd.to_datetime(df_result.タイム, format=('%M:%S.%f')) - base_time

In [25]:
# 馬体重
df_result['weight'] = df_result.馬体重.str.extract('(\d+)\(.*?\d+\)').astype(np.float)
df_result['weight_change'] = df_result.馬体重.str.extract('\d+\((.*?\d+)\)').astype(np.float)
df_result['abs_weight_change'] = abs(df_result.weight_change)

In [26]:
# 通過
# df_prassing = df_result.通過.str.split('-', expand=True).astype(np.float)
# df_passing.columns = ['passing1', 'passing2', 'passing3', 'passing4']
# df_result = pd.concat([df_result, df_passing], axis=1)

In [27]:
# 東とか西とか
df_result['place'] = df_result.調教師.str.extract('\[(.+)\].+')
print(df_result.place.value_counts())

西    207980
東    191056
地       799
外        48
Name: place, dtype: int64

# レース情報

## 内容確認

In [21]:
df_info.head()

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether
0,201001020110,2010年9月11日,コスモス賞,2歳オープン,札幌,芝,右,1800,良,曇
1,201001020111,2010年9月11日,報知杯大雪ハンデ,3歳以上1000万下,札幌,ダ,右,1700,良,曇
2,201001020112,2010年9月11日,手稲山特別,3歳以上500万下,札幌,芝,右,1500,良,曇
3,201001020210,2010年9月12日,おおぞら特別,3歳以上1000万下,札幌,芝,右,1800,良,晴
4,201001020211,2010年9月12日,UHB賞,3歳以上1000万下,札幌,芝,右,1500,良,晴

In [22]:
for col in df_info.columns:
    if df_info[col].nunique() > 25:
        continue
    print(df_info[col].value_counts())

3歳未勝利         6582
3歳以上500万下     4138
4歳以上500万下     2643
2歳未勝利         2629
3歳以上1000万下    1958
2歳新馬          1860
4歳以上1000万下    1512
3歳500万下       1108
3歳以上1600万下     795
3歳以上オープン       759
4歳以上1600万下     677
4歳以上オープン       565
3歳以上1勝クラス      440
3歳新馬           437
3歳オープン         419
障害3歳以上未勝利      402
障害4歳以上未勝利      285
2歳500万下        278
2歳オープン         246
障害3歳以上オープン     198
障害4歳以上オープン     140
3歳以上2勝クラス       69
2歳1勝クラス         10
Name: race_class, dtype: int64
阪神     4029
京都     3975
中山     3846
東京     3843
中京     2448
新潟     2304
福島     2050
小倉     2033
函館     1344
札幌     1096
小倉1     384
京都1     288
新潟1     255
東京1     252
福島1       3
Name: course_name, dtype: int64
芝    13716
ダ    13409
障     1025
Name: course_type, dtype: int64
右    18455
左     8456
芝     1025
直      214
Name: course_direction, dtype: int64
良       19711
稍重       4693
重        2286
不良       1068
良良        236
良稍重        64
稍重重        30
良重         17
稍重稍重       13
重不良        13
稍重不良        9
不良不良        6
重重          4
Name: condition, dtype: int64
晴     17770
曇      7889
雨      1496
小雨      962
小雪       25
雪         8
Name: whether, dtype: int64

## 整形

In [23]:
# 障害分ける
df_obstacle = df_info.loc[df_info.course_type=='障']
df_info = df_info.loc[df_info.course_type!='障']
print(df_obstacle.shape)
df_obstacle.head(2)

(1025, 10)

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether
2631,201110040108,2011年7月30日,第13回小倉サマージャンプ(J.G3),障害3歳以上オープン,小倉,障,芝,3390,良,晴
2637,201110040204,2011年7月31日,障害3歳以上未勝利,障害3歳以上未勝利,小倉,障,芝,2900,良,晴

In [24]:
# 開催日
df_info.race_date = pd.to_datetime(df_info.race_date, format=('%Y年%m月%d日'))

In [25]:
# 開催地のゆれ
df_info.course_name = df_info.course_name.str.replace('1', '')
print(df_info.course_name.value_counts())

京都    4142
東京    3986
阪神    3892
中山    3719
新潟    2388
小倉    2349
中京    2296
福島    1913
函館    1344
札幌    1096
Name: course_name, dtype: int64

In [26]:
# 距離おかしいとこ
df_info.course_distance = df_info.course_distance.replace({
    ' 外16': '1600',
    ' 外18': '1800',
    '線100': '1000',
    ' 外20': '2000',
    ' 外14': '1400',
    ' 外12': '1200',
    ' 内2周': '3600',
    ' 外24': '2400',
    ' 外30': '3000',
    ' 外22': '2200',
    ' 外32': '3200',
    ' 外26': '2600'
})
df_info.course_distance.value_counts()

1800    6361
1200    5532
1400    3748
1600    3181
2000    2751
1700    1828
1000     843
2400     680
2200     529
2600     296
1150     294
1900     272
2100     271
1300     219
1500     136
2500     118
3000      26
2300      16
3600      10
3200       8
3400       6
Name: course_distance, dtype: int64

In [27]:
df_info.course_distance = df_info.course_distance.astype(np.int)

In [28]:
df_info.condition.value_counts(dropna=False)

良     19229
稍重     4588
重      2247
不良     1061
Name: condition, dtype: int64

In [29]:
# 馬場状態を数値に変換
df_info['condition_int'] = df_info.condition.replace({
    '良': 1,
    '稍重': 2,
    '重': 3,
    '不良': 4
})
df_info.condition_int.value_counts(dropna=False)

1    19229
2     4588
3     2247
4     1061
Name: condition_int, dtype: int64

In [30]:
df_info.whether.value_counts(dropna=False)

晴     17128
曇      7612
雨      1433
小雨      920
小雪       24
雪         8
Name: whether, dtype: int64

In [31]:
# 天気を数値に変換
df_info['whether_int'] = df_info.whether.replace({
    '晴': 1,
    '曇': 2,
    '小雨': 3,
    '小雪': 3,
    '雨': 4,
    '雪': 4
})
df_info.whether_int.value_counts(dropna=False)

1    17128
2     7612
4     1441
3      944
Name: whether_int, dtype: int64

In [32]:
df_info['race_class_prize'] = df_info.race_class.str.extract('\d+歳[以上]*(.*)', expand=True)

In [33]:
# 逆！
df_info.race_class_prize = df_info.race_class_prize.replace({
    '1勝クラス': '500万下',
    '2勝クラス': '1000万下'
})

In [34]:
def replace_new_class_prize(race_title, prize):
    if prize == '500万下':
        return '1勝クラス'
    elif prize == '1000万下':
        return '2勝クラス'
    elif prize == '1600万下':
        return '3勝クラス'
    elif prize == 'オープン':
        if 'G1' in race_title:
            return 'G1'
        elif 'G2' in race_title:
            return 'G2'
        elif 'G3' in race_title:
            return 'G3'
    return prize

In [35]:
df_info.head()

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether,condition_int,whether_int,race_class_prize
0,201001020110,2010-09-11,コスモス賞,2歳オープン,札幌,芝,右,1800,良,曇,1,2,オープン
1,201001020111,2010-09-11,報知杯大雪ハンデ,3歳以上1000万下,札幌,ダ,右,1700,良,曇,1,2,1000万下
2,201001020112,2010-09-11,手稲山特別,3歳以上500万下,札幌,芝,右,1500,良,曇,1,2,500万下
3,201001020210,2010-09-12,おおぞら特別,3歳以上1000万下,札幌,芝,右,1800,良,晴,1,1,1000万下
4,201001020211,2010-09-12,UHB賞,3歳以上1000万下,札幌,芝,右,1500,良,晴,1,1,1000万下

In [36]:
for index in df_info.index:
    df_info.loc[index, 'race_class_prize'] = replace_new_class_prize(
        df_info.loc[index, 'race_title'],
        df_info.loc[index, 'race_class_prize']
    )

In [37]:
df_info.head()

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether,condition_int,whether_int,race_class_prize
0,201001020110,2010-09-11,コスモス賞,2歳オープン,札幌,芝,右,1800,良,曇,1,2,オープン
1,201001020111,2010-09-11,報知杯大雪ハンデ,3歳以上1000万下,札幌,ダ,右,1700,良,曇,1,2,2勝クラス
2,201001020112,2010-09-11,手稲山特別,3歳以上500万下,札幌,芝,右,1500,良,曇,1,2,1勝クラス
3,201001020210,2010-09-12,おおぞら特別,3歳以上1000万下,札幌,芝,右,1800,良,晴,1,1,2勝クラス
4,201001020211,2010-09-12,UHB賞,3歳以上1000万下,札幌,芝,右,1500,良,晴,1,1,2勝クラス

# 障害

In [38]:
df_obstacle.head(2)

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether
2631,201110040108,2011年7月30日,第13回小倉サマージャンプ(J.G3),障害3歳以上オープン,小倉,障,芝,3390,良,晴
2637,201110040204,2011年7月31日,障害3歳以上未勝利,障害3歳以上未勝利,小倉,障,芝,2900,良,晴

In [39]:
# レース結果から障害を抜く
print(df_result.shape)
df_obstacle_result = df_result.loc[df_result.race_id.isin(df_obstacle.race_id)]
print(df_obstacle_result.shape)
df_result = df_result.loc[~df_result.race_id.isin(df_obstacle.race_id)]
print(df_result.shape)

(399891, 28)
(12063, 28)
(387828, 28)

# 出力

In [40]:
df_result.head(1)

,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,通過,上り,単勝,人気,馬体重,調教師,馬主,賞金(万円),race_id,gender,age,weight,weight_change,abs_weight_change,passing1,passing2,passing3,passing4,place
1,8,5,10,シゲルヒカルダイヤ,牡3,51.0,岩田望来,2:45.5,1,11-11-12-12,37.1,36.9,10.0,520(+24),[西] 橋田満,森中蕃,NaN,201910021212,牡,3,520.0,24.0,24.0,11.0,11.0,12.0,12.0,西

In [41]:
df_info.head(1)

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether,condition_int,whether_int,race_class_prize
0,201001020110,2010-09-11,コスモス賞,2歳オープン,札幌,芝,右,1800,良,曇,1,2,オープン

In [42]:
df_result.shape

(387828, 28)

In [43]:
df_result.to_csv(FILE_PARSED_RESULT, index=False)

In [44]:
df_info.shape

(27125, 13)

In [45]:
df_info.to_csv(FILE_PARSED_INFO, index=False)

In [46]:
df_obstacle_result.to_csv(FILE_OBSTACLE_RESULT, index=False)

In [47]:
df_obstacle.to_csv(FILE_OBSTACLE_INFO, index=False)