In [1]:
import pandas as pd

import json
import os
import sys

from pathlib import Path

os.path.exists('../data/myparser/transaction_parser.py')

sys.path.append('../data/myparser')

import transaction_parser
import race_master_parser
import data_parser
import read_df

resource_path = Path('../../resource')

ModuleNotFoundError: No module named 'setting'

In [ ]:
file_info = list(resource_path.glob('common/raw_result/info/done_parse/*.csv'))
file_result = list(resource_path.glob('common/raw_result/result/done_parse/*.csv'))

In [ ]:
file_info

In [4]:
df_info = read_df.df_from_csv(file_info)

In [10]:
df_info

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,whether
0,201001020110,2010年9月11日,コスモス賞,2歳オープン,札幌,芝,右,1800,良,曇
1,201001020111,2010年9月11日,報知杯大雪ハンデ,3歳以上1000万下,札幌,ダ,右,1700,良,曇
2,201001020112,2010年9月11日,手稲山特別,3歳以上500万下,札幌,芝,右,1500,良,曇
3,201001020210,2010年9月12日,おおぞら特別,3歳以上1000万下,札幌,芝,右,1800,良,晴
4,201001020211,2010年9月12日,UHB賞,3歳以上1000万下,札幌,芝,右,1500,良,晴
...,...,...,...,...,...,...,...,...,...,...
28145,201910021208,2019年9月1日,3歳以上1勝クラス,3歳以上1勝クラス,小倉1,芝,右,1200,重,小雨
28146,201910021209,2019年9月1日,若戸大橋特別,3歳以上500万下,小倉1,芝,右,1800,重,小雨
28147,201910021210,2019年9月1日,西日本スポーツ杯,3歳以上1000万下,小倉1,ダ,右,1700,不良,小雨
28148,201910021211,2019年9月1日,第39回小倉2歳ステークス(G3),2歳オープン,小倉1,芝,右,1200,重,曇
28149,201910021212,2019年9月1日,3歳以上1勝クラス,3歳以上1勝クラス,小倉1,芝,右,2600,重,曇

In [5]:
data_parser.renewal_all(file_info, file_result)

重複数:  182
マスター件数:  46107

In [12]:
horse_master = pd.read_csv('../../resource/common/horse_master.csv')
horse_master.loc[horse_master.horse_id==49869]

Empty DataFrame
Columns: [馬名, gender, born_year, horse_id]
Index: []

In [13]:
horse_master

              馬名 gender  born_year  horse_id
0       マイネルギブソン      牡       2008         1
1         ロビンフット      牡       2008         2
2       ギリギリヒーロー      牡       2008         3
3      マーベラスカイザー      牡       2008         4
4         エルヘイロー      牡       2008         5
...          ...    ...        ...       ...
46102       レゴリス      牡       2016     46103
46103       レップウ      牡       2007     46104
46104       レップウ      牡       2015     46105
46105       ヴァルナ      牡       2005     46106
46106       ヴァルナ      牡       2017     46107

[46107 rows x 4 columns]

In [42]:
import pandas as pd
pd.options.display.max_columns = 500

In [90]:
transaction = pd.read_csv('../../resource/common/race_result_transaction.csv', index_col=0)
# transaction.query('race_id not in @drop_ids').drop(['Unnamed: 0', 'race_date', 'race_title', 'race_class', 'course_name',
#        'course_type', 'course_direction', 'course_distance', 'condition',
#        'weather', 'race_class_prize', 'condition_int', 'weather_int'], axis=1)
# transaction.loc[transaction.race_id==201201010101]

transaction.drop_duplicates().to_csv('../../resource/common/race_result_transaction.csv', index=False)

In [91]:
transaction.loc[transaction.horse_id.isnull()]

Empty DataFrame
Columns: [arrival, 枠番, course_num, 馬名, 性齢, handy_weight, 騎手, タイム, 着差, ﾀｲﾑ指数, 通過, uphill, odds, 人気, 馬体重, 調教ﾀｲﾑ, 厩舎ｺﾒﾝﾄ, 備考, 調教師, 馬主, got_prize, race_id, weight, weight_change, abs_weight_change, place, gender, age, born_year, horse_id]
Index: []

In [92]:
transaction.isnull().sum()

arrival                   0
枠番                        0
course_num                0
馬名                        0
性齢                        0
handy_weight              0
騎手                        0
タイム                       1
着差                    27153
ﾀｲﾑ指数                     3
通過                      688
uphill                    6
odds                      4
人気                        4
馬体重                       4
調教ﾀｲﾑ                387828
厩舎ｺﾒﾝﾄ               387828
備考                   387828
調教師                       8
馬主                        8
got_prize            252129
race_id                   0
weight                    5
weight_change             5
abs_weight_change         5
place                     8
gender                    0
age                       0
born_year                 0
horse_id                  0
dtype: int64

In [47]:
race_master.columns

Index(['race_id', 'race_date', 'race_title', 'race_class', 'course_name',
       'course_type', 'course_direction', 'course_distance', 'condition',
       'weather', 'race_class_prize', 'condition_int', 'weather_int'],
      dtype='object')

In [59]:
tmp = pd.read_csv('../../resource/common/raw_result/info/race_info_20201207.csv')

In [63]:
tmp.shape

(3193, 10)

In [65]:
tmp.query('(course_type=="芝") and (condition != "不良") and (weather != "雨") and (weather != "雪")').race_id.to_csv('20201207_race_id.csv', index=False)

In [28]:
drop_ids

array([201910021212, 202001010101, 202001010102, ..., 202010020810,
       202010020811, 202010020812], dtype=int64)

In [48]:
transaction.head()

,Unnamed: 0,arrival,枠番,course_num,馬名,性齢,handy_weight,騎手,タイム,着差,ﾀｲﾑ指数,通過,uphill,odds,人気,馬体重,調教ﾀｲﾑ,厩舎ｺﾒﾝﾄ,備考,調教師,馬主,got_prize,race_id,weight,weight_change,abs_weight_change,place,gender,age,born_year,horse_id
0,0,1,3,3,マイネルギブソン,牡2,54.0,丹内祐次,1:52.1,NaN,**,1-1-1-1,34.7,6.0,5.0,432(+10),NaN,NaN,NaN,[東] 萱野浩二,サラブレッドクラブ・ラフィアン,1623.1,201001020110,432.0,10.0,10.0,東,牡,2,2008.0,1
1,1,2,8,10,ロビンフット,牡2,55.0,勝浦正樹,1:52.2,1/2,**,4-3-3-2,34.5,2.7,1.0,488(-6),NaN,NaN,NaN,[東] 堀井雅広,桐谷茂,646.6,201001020110,488.0,-6.0,6.0,東,牡,2,2008.0,2
2,2,3,4,4,ギリギリヒーロー,牡2,54.0,武幸四郎,1:52.3,1/2,**,10-8-9-5,34.0,5.7,4.0,416(-6),NaN,NaN,NaN,[西] 荒川義之,小林けい子,403.3,201001020110,416.0,-6.0,6.0,西,牡,2,2008.0,3
3,3,4,8,11,マーベラスカイザー,牡2,54.0,古川吉洋,1:52.7,2.1/2,**,5-5-4-3,34.8,5.2,2.0,472(+2),NaN,NaN,NaN,[西] 柴田政見,笹原貞生,240.0,201001020110,472.0,2.0,2.0,西,牡,2,2008.0,4
4,4,5,2,2,エルヘイロー,牡2,54.0,小国博行,1:52.7,クビ,**,6-6-6-5,34.7,13.5,6.0,466(-4),NaN,NaN,NaN,[地] 堂山芳則,黒岩晴男,160.0,201001020110,466.0,-4.0,4.0,地,牡,2,2008.0,5

In [77]:
transaction.shape

(430502, 29)

In [93]:
transaction.loc[transaction[['race_id', 'horse_id']].duplicated(keep=False)]

Empty DataFrame
Columns: [arrival, 枠番, course_num, 馬名, 性齢, handy_weight, 騎手, タイム, 着差, ﾀｲﾑ指数, 通過, uphill, odds, 人気, 馬体重, 調教ﾀｲﾑ, 厩舎ｺﾒﾝﾄ, 備考, 調教師, 馬主, got_prize, race_id, weight, weight_change, abs_weight_change, place, gender, age, born_year, horse_id]
Index: []

In [94]:
race_master = pd.read_csv('../../resource/common/race_info_master.csv')
race_master.loc[race_master.race_id==201201010101]

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,weather,race_class_prize,condition_int,weather_int
2872,201201010101,2012-07-21,2歳未勝利,2歳未勝利,札幌,芝,右,1500,良,晴,未勝利,1,1

In [95]:
race_master.loc[race_master.duplicated('race_id', keep=False)]

Empty DataFrame
Columns: [race_id, race_date, race_title, race_class, course_name, course_type, course_direction, course_distance, condition, weather, race_class_prize, condition_int, weather_int]
Index: []

race_master.drop_duplicates('race_id').to_csv('../../resource/common/race_info_master.csv', index=False)

In [88]:
race_master.shape

(30202, 13)

In [89]:
race_master.tail()

,race_id,race_date,race_title,race_class,course_name,course_type,course_direction,course_distance,condition,weather,race_class_prize,condition_int,weather_int
30197,202010020808,2020-09-06 00:00:00,3歳以上1勝クラス,3歳以上1勝クラス,小倉,ダ,右,1000,稍重,雨,1勝クラス,2,4
30198,202010020809,2020-09-06 00:00:00,別府特別,3歳以上1000万下,小倉,芝,右,1200,重,雨,2勝クラス,3,4
30199,202010020810,2020-09-06 00:00:00,西日本スポーツ杯,3歳以上1000万下,小倉,芝,右,1800,重,雨,2勝クラス,3,4
30200,202010020811,2020-09-06 00:00:00,第40回小倉2歳ステークス(G3),2歳オープン,小倉,芝,右,1200,重,雨,G3,3,4
30201,202010020812,2020-09-06 00:00:00,3歳以上1勝クラス,3歳以上1勝クラス,小倉,ダ,右,1700,重,雨,1勝クラス,3,4

In [61]:
race_master.course_name.value_counts()

京都    4572
東京    4517
阪神    4358
中山    4125
新潟    2677
小倉    2585
中京    2488
福島    2129
函館    1488
札幌    1264
Name: course_name, dtype: int64

In [52]:
race_master.race_date = pd.to_datetime(race_master.race_date)

In [53]:
# race_master = race_master.loc[race_master.race_date.dt.year==2020]
race_master.race_date.dt.year.value_counts().sort_index()

2010     175
2011     639
2012    3309
2013    3312
2014    3206
2015    3325
2016    3326
2017    3329
2018    3262
2019    3243
2020    3077
Name: race_date, dtype: int64